.account_background{
    height: 97vh;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selections{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-top: 0;
    left: 0;
    grid-gap: 20px;
    padding: 20px;
    background-color: #ebebeb;
    width: 70%;
    height: 70%;
    border-radius: 10px;
}

#my_services_grid{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#client_service_grid{
    grid-column: 1 / 2;
    grid-row: 2;
}

#account_grid{
    grid-column: 2;
    grid-row: 1 / 3;
}

.selections_item{
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .5s;
}

.selections_item:hover{
    transition: .5s;
    border: 4px solid rgba(0, 0, 0, 0.3);
}

.selections_item:hover .selection_logo{
    background-color: #ff7f22;
    border: 6px solid rgba(0, 0, 0, 0.3);
}

.selections_item:hover .selections_item_title{
    font-size: 37px;
    color: #ff7f22;
}

.selections_item_left{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selections_item_right{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10px;
}

.selection_logo{
    background-color: rgba(255, 127, 34, 0.9);
    padding: 30px;
    border-radius: 100px;
    transition: .5s;
}

.selection_logo img{
    filter: invert(1);
}

#package{
    width: 90px;
    height: 90px;
}

.selections_item_title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    padding: 5px;
    color: black;
    text-decoration: none;
    transition: .5s;
}

.selections_item_title:hover{
    font-size: 37px;
    color: #ff7f22;
}

.selections_item_description{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 5px;
    color: black;
    text-decoration: none;
    transition: .5s;
}

.selections_account{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 3s;
}

.selections_account:hover{
    transition: 1s;
    background-color: rgba(255, 175, 117, 0.1);
}

.account_data{
    width: 100%;
    height: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.account_data_title{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account_data_info{
    padding: 15px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.account_data_info_text{
    display: flex;
    align-items: center;
    justify-content: left;
}

.change_location_account select{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    border-radius: 30px;
}

#link{
    color: black;
    text-decoration: none;
    transition: .5s;
}

#link:hover{
    color: #ff7f22;
    transition: .5s;
}

@media (max-width: 500px){

    .account_background{
        height: 83vh;
        margin-top: 120px;
    }

    .selections{
        display: flex;
        flex-direction: column;
        padding: 0;
        height: 100%;
    }

    .selection_logo{
        width: 30px;
        height: 30px;
    }

    #package{
        width: 30px;
        height: 30px;
    }

    .selections_item{
        gap: 3%;
    }

    #my_services_grid{
        height: 35%;
    }

    #client_service_grid{
        height: 35%;
    }

    #account_grid{
        height: 60%;
    }

    .selections_item_title{
        font-size: 20px;
    }

    .selections_item_title:hover{
        font-size: 20px;
    }

    .selections_item:hover .selections_item_title{
        font-size: 20px;
    }

    .selections_item_description{
        font-size: 12px;
    }

    .account_data{
        margin-top: 10px;
    }

    .account_data_info{
        font-size: 12px;
    }
}