.account_background{
    height: 97vh;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selections{
    background-color: #ebebeb;
    margin-top: 80px;
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.selections_item{
    background-color: rgba(255, 255, 255, 0.9);
    width: 47%;
    height: 45%;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 3s;
}

.selections_item:hover{
    transition: 1s;
    background-color: rgba(255, 175, 117, 0.8);
}

.selections_item_left{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selections_item_right{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10px;
}


#package{
    width: 90px;
    height: 90px;
}

.selections_item_title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    padding: 5px;
    color: black;
    text-decoration: none;
    transition: .5s;
}

.selections_item_title:hover{
    font-size: 36px;
    color: #ff7f22;
}

.selections_item_description{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 5px;
    color: black;
    text-decoration: none;
    transition: .5s;
}

.selections_item_description:hover{
    color: #ff7f22;
}

.selections_account{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    width: 47%;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 3s;
}

.selections_account:hover{
    transition: 1s;
    background-color: rgba(255, 175, 117, 0.8);
}

.account_data{
    width: 100%;
    height: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.account_data_title{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account_data_info{
    padding: 15px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.account_data_info_text{
    display: flex;
    align-items: center;
    justify-content: left;
}

#link{
    color: black;
    text-decoration: none;
    transition: .5s;
}

#link:hover{
    color: #ff7f22;
    transition: .5s;
}