.account_background{
    height: 97vh;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selections{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-top: 0;
    left: 0;
    grid-gap: 20px;
    padding: 20px;
    background-color: #ebebeb;
    width: 70%;
    height: 70%;
    border-radius: 10px;
}

#my_services_grid{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#client_service_grid{
    grid-column: 1 / 2;
    grid-row: 2;
}

#account_grid{
    grid-column: 2;
    grid-row: 1 / 3;
}

.selections_item{
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.selections_item:hover .selection_logo{
    background-color: #ff7f22;
}

.selections_item:hover .selections_item_title{
    font-size: 37px;
    color: #ff7f22;
}

.selections_item_left{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selections_item_right{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10px;
}

.selection_logo{
    background-color: rgba(255, 127, 34, 0.9);
    padding: 30px;
    border-radius: 100px;
    transition: .5s;
}

.selection_logo img{
    /* filter: invert(1); */
}

#package{
    width: 90px;
    height: 90px;
}

.selections_item_title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    padding: 5px;
    color: black;
    text-decoration: none;
    transition: .5s;
}

.selections_item_title:hover{
    font-size: 37px;
    color: #ff7f22;
}

.selections_item_description{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 5px;
    color: black;
    text-decoration: none;
    transition: .5s;
}

.selections_account{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 3s;
}

.selections_account:hover{
    transition: 1s;
    background-color: rgba(255, 175, 117, 0.1);
}

.account_data{
    width: 100%;
    height: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.account_data_title{
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account_data_info{
    padding: 15px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.account_data_info_text{
    display: flex;
    align-items: center;
    justify-content: left;
}

.change_location_account_form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.change_location_account_form_select{
    display: none;
    width: 60%;
    padding: 10px;
    outline: none;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    border-radius: 10px;
}

.change_location_account_form_input{
    width: 80%;
    padding: 10px;
    outline: none;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    border-radius: 10px;
    transition: .5s;
}

.change_location_account_form_input:hover{
    border-color: #ff7f22;
    transition: .5s;
    color: #ebebeb;
    background-color: #ff7f22;
}


#account_link{
    color: black;
    text-decoration: none;
    transition: .5s;
}

#account_link:hover{
    color: #ff7f22;
    transition: .5s;
}

.account_is_changing_location{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
}

#account_is_changing_location_close_tab{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 100%;
    background-color: #ff7f22;
    top: calc(0% + 40px);
    right: calc(0% + 40px);
    position: absolute;
}

#account_is_changing_location_close_tab img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: invert(1);
}

.account_is_changing_location span {
    width: 100%;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.account_is_changing_location_item{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.account_is_changing_location_select{
    width: 100%;
    padding: 10px;
    outline: none;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    border-radius: 10px;
}

#account_is_changing_location_text_input{
    width: 96%;
    padding: 10px;
    outline: none;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    border-radius: 10px;
}

#account_is_changing_location_text_submit{
    transition: .5s;
    width: 80%;
    padding: 10px;
    outline: none;
    font-weight: 400;
    border: 1px solid rgba(255, 127, 34, 0.9);
    font-size: 16px;
    letter-spacing: 1px;
    color: #ebebeb;
    background-color: rgba(255, 127, 34, 0.9);
    border-radius: 10px;
}

#account_is_changing_location_text_submit:hover{
    transition: .5s;
    background-color: #ff7f22;
    color: #ebebeb;
    border-color: #ff7f22;
}

@media (max-width: 500px){

    .account_background{
        padding-top: 30px;
        padding-bottom: 30px;
        height: auto;
    }

    .selections{
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        height: auto;
        grid-gap: 0;
        gap: 10px;
    }

    .selection_logo{
        width: 30px;
        height: 30px;
    }

    #package{
        width: 30px;
        height: 30px;
    }

    .selections_item{
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 3%;
    }

    .selection_logo{
        padding: 20px;
    }

    #my_services_grid{
        height: 20%;
        width: auto;
    }

    #client_service_grid{
        height: 20%;
        width: auto;
    }

    #account_grid{
        height: auto;
        width: auto;
    }

    .selections_item_right{
        justify-content: center;
        gap: 0;
    }

    .selections_item_title{
        font-size: 18px;
    }

    .selections_item_title:hover{
        font-size: 20px;
    }

    .selections_item:hover .selections_item_title{
        font-size: 20px;
    }

    .selections_item_description{
        font-size: 10px;
    }

    .account_data{
        margin-top: 10px;
    }

    .account_data_info{
        font-size: 12px;
    }

    .account_data_info_email{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #account_link{
        text-align: center;
    }

    .change_location_account_form_input{
        width: 100%;
    }

    .account_is_changing_location{
        gap: 15px;
        align-items: center;
    }

    #account_is_changing_location_close_tab{
        align-self: flex-end;
        margin-right: 10%;
        width: 20px;
        height: 20px;
        top: 0;
        right: 0;
        position: static;
    }
}