.add_service_home_categories_background{
    width: 100%;
    min-height: 60vh;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.add_service_home_categories_gallery{
    width: 90%;
    background-color: #161825;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add_service_home_categories_container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.add_service_home_category_item_names{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 60px;
    border-top: 2px solid rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    display: grid;
    grid-template-columns: 20% 30% 50%;
    text-decoration: none;
    place-items: center;
    color: #ebebeb;
}

.add_service_home_category_item{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    display: grid;
    grid-template-columns: 20% 30% 50%;
    text-decoration: none;
    place-items: center;
    color: #ebebeb;
}

.add_service_home_category_item:hover{
    color: #ff7f22;
}

.add_service_home_categories_container span{
    font-size: 20px;
}

@media(max-width: 500px){

    .add_service_home_categories_background{
    }

    .add_service_home_categories_gallery{
        width: 95%;
        height: 95%;
    }

    .add_service_home_categories_container{
        padding: 5px;
    }
    
    .add_service_home_category_item_names{
        grid-template-columns: 5% 50% 45%;
    }

    .add_service_home_category_item_names span{
        font-size: 9px;
    }

    .add_service_home_category_item{
        grid-template-columns: 5% 50% 45%;
    }

    .add_service_home_category_item span{
        font-size: 9px;
    }
}