.add_service_background{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_service_container{
    font-family: 'Poppins', sans-serif;
    color: #ebebeb;
    width: 70%;
    height: 70%;
    background-color: #161825;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.add_service_texts{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.add_service_instructions{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: rgba(235, 235, 235, 1);
}

#add_service_text_input{
    width: 80%;
    text-align: center;
    color: #252730;
    padding: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    resize: none;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
    outline: none;
}

#add_service_text_input::placeholder{
    color: rgba(37, 39, 48, 0.5);
}

.add_service_texts textarea{
    width: 80%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    resize: none;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
    color: #252730;
    border: none;
    outline: none;
    padding: 10px;
}

.add_service_texts textarea::placeholder{
    color: rgba(37, 39, 48, 0.5);
}

.add_service_imgs{
    background-color: #1c1e29;
    width: 50%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add_service_imgs_container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#add_service_reminder{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #ff7f22;
}

.add_service_img_inputs{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add_service_imgs_containers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: rgba(235, 235, 235, 1);
}

#add_service_submit{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: 0;
    color: #252730;
}

#add_service_submit:hover{
    color: #ebebeb;
    background-color: #ff7f22;
}

@media(max-width: 500px){

    .add_service_background{
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .add_service_container{
        width: 80%;
        flex-direction: column;
        height: auto;
        gap: 0;
    }

    .add_service_texts{
        width: 100%;
        height: 50%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .add_service_imgs{
        width: 100%;
        height: 50%;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }

    .add_service_imgs_container{
        gap: 30px;
    }
}