.add_service_home_background{
    width: 100%;
    min-height: 60vh;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.add_service_home_gallery{
    width: 90%;
    background-color: #161825;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add_service_home_container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.add_service_home_item_names{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 60px;
    border-top: 2px solid rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    display: grid;
    grid-template-columns: 20% 30% 50%;
    text-decoration: none;
    place-items: center;
    color: #ebebeb;
}

.add_service_home_item{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    text-decoration: none;
    color: #ebebeb;
    display: grid;
}

.add_service_home_item_container{
    display: grid;
    grid-template-columns: 20% 30% 50%;
    place-items: center;
}

.add_service_home_item:hover{
    color: #ff7f22;
}

.add_service_home_container span{
    font-size: 20px;
}

.add_service_to_home_background{
    position: absolute;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_service_to_home_container{
    width: 30%;
    height: 80%;
    padding: 40px;
    font-size: 50px;
    color: #161825;
    text-align: center;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.add_service_to_home_text{
    width: 80%;
}

.add_service_to_home_text span{
    color: #ff7e22;
}

.add_service_to_home_submits{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.add_service_to_home_submits input{
    transition: 1s;
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    font-size: 18px;
    color: #ebebeb;
}

.add_service_to_home_submits input:hover{
    transition: .5s;
    width: 35%;
}

#add_service_to_home_accept{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
    border: 0;
    color: #252730;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#add_service_to_home_accept:hover{
    color: #ebebeb;
    background-color: #ff7f22;
}

#add_service_to_home_return{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
    border: 0;
    color: #252730;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#add_service_to_home_return:hover{
    color: #ebebeb;
    background-color: #ff7f22;
}

#add_service_to_home_confirmation_alert{
    font-size: 20px;
    color: #ff7f22;
}

.add_service_no_items_alert{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 500px){

    .add_service_home_background{
        margin-top: 65px;
    }

    .add_service_home_gallery{
        width: 95%;
        height: 95%;
    }

    .add_service_home_container{
        padding: 5px;
    }
    
    .add_service_home_item_names{
        grid-template-columns: 5% 50% 45%;
    }

    .add_service_home_item_names span{
        font-size: 9px;
    }

    .add_service_home_item_container{
        grid-template-columns: 5% 50% 45%;
    }

    .add_service_home_item span{
        font-size: 9px;
    }

    .add_service_to_home_container{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 70%;
        height: auto;
        gap: 20px;
        font-size: 30px;
    }

    .add_service_to_home_submits{
        flex-direction: column;
        gap: 10px;
    }

    .add_service_to_home_submits input{
        width: 50%;
    }

    #add_service_to_home_accept{
        width: 50%;
    }

    #add_service_to_home_return{
        width: 50%;
    }

    .add_service_no_items_alert{
        font-size: 20px;
    }

}