.add_service2_background{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
}

.add_service2_container{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0 20px 0;
}

.add_service2_form{
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.add_service2_form_item{
    width: 100%;
    margin: 0;
}

#add_service2_form_input{
    width: 50%;
}

.add_service2_form_span{
    width: 100%;
    text-align: left;
    color: rgb(0, 0, 0, 0.6);
    font-size: 18px;
}

#add_service2_form_title{
    color: rgb(0, 0, 0, 0.8);
    font-size: 30px;
}