.add_service_to_home_background{
    width: 100%;
    height: 100vh;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.add_service_to_home_container{
    width: 30%;
    height: 60%;
    font-size: 50px;
    color: #161825;
    text-align: center;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.add_service_to_home_text{
    width: 80%;
}

.add_service_to_home_text span{
    color: #ff7e22;
}

.add_service_to_home_submits{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.add_service_to_home_submits input{
    transition: 1s;
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    font-size: 18px;
    color: #ebebeb;
}

.add_service_to_home_submits input:hover{
    transition: .5s;
    width: 35%;
}

#add_service_to_home_accept{
    background-color: rgba(255, 126, 34, .7);
}

#add_service_to_home_accept:hover{
    background-color: rgba(255, 126, 34, 1);
}

#add_service_to_home_return{
    background-color: rgba(116, 116, 116, .7);
}

#add_service_to_home_return:hover{
    background-color: rgba(116, 116, 116, 1);
}

@media(max-width:500px){
    .add_service_to_home_container{
        width: 70%;
        height: 40%;
        font-size: 30px;
    }

    .add_service_to_home_submits input{
        width: 35%;
    }

    .add_service_to_home_submits input:hover{
        width: 40%;

    }
}