.admin_background{
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.admin_selections{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    margin-top: 0;
    left: 0;
    grid-gap: 20px;
    padding: 20px;
    background-color: #ebebeb;
    width: 70%;
    height: 70%;
    border-radius: 10px;
}

#edit_services{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#edit_categories{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#add_service{
    grid-column: 2;
    grid-row: 1 / 2;
}

#add_category{
    grid-column: 2;
    grid-row: 2 / 3;
}

#add_service_home_display{
    grid-column: 1 / 2;
    grid-row: 3;
}


.admin_selections_item{
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.admin_selections_item:hover{
    transition: .5s;
    border: 4px solid rgba(0, 0, 0, 0.3);
}

.admin_selections_item:hover .selection_logo{
    background-color: #ff7f22;
    border: 6px solid rgba(0, 0, 0, 0.3);
}

.admin_selections_item:hover .selections_item_title{
    font-size: 37px;
    color: #ff7f22;
}

.admin_selections_item_left{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin_selections_item_right{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10px;
}

.admin_selection_logo{
    background-color: rgba(255, 127, 34, 0.9);
    padding: 30px;
    border-radius: 100px;
    transition: .5s;
}

.admin_selection_logo img{
    filter: invert(1);
}

#admin_package{
    width: 90px;
    height: 90px;
}

.admin_selections_item_title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    padding: 5px;
    color: black;
    text-decoration: none;
    transition: .5s;
}

.admin_selections_item_title:hover{
    font-size: 37px;
    color: #ff7f22;
}

.admin_selections_item_description{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 5px;
    color: black;
    text-decoration: none;
    transition: .5s;
}

.admin_selections_account{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 3s;
}

.admin_selections_account:hover{
    transition: 1s;
    background-color: rgba(255, 175, 117, 0.1);
}

.admin_account_data{
    width: 100%;
    height: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.admin_account_data_title{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin_account_data_info{
    padding: 15px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.admin_account_data_info_text{
    display: flex;
    align-items: center;
    justify-content: left;
}

.change_location_account select{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    border-radius: 30px;
}


@media (max-width: 500px){
    .admin_background{
        height: 100vh;
        margin-top: 90px;
    }

    .admin_selections{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 90%;
        padding: 0;
    }
    
    .admin_selections_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
        width: 40%;
        height: 30%;
    }

    .admin_selections_item_left{
        width: 100%;
        height: 40%;
    }

    .admin_selections_item_right{
        height: 40%;
        text-align: center;
        justify-content: center;
        gap: 0;
        width: 100%;
    }

    .admin_selection_logo{
        width: 30px;
        height: 30px;
    }

    #admin_package{
        width: 30px;
        height: 30px;
    }

    .admin_selection_logo{
        padding: 20px;
    }

    .admin_selections_item_title{
        font-size: 18px;
    }

    .admin_selections_item_title:hover{
        font-size: 20px;
    }

    .admin_selections_item:hover .selections_item_title{
        font-size: 20px;
    }

    .admin_selections_item_description{
        font-size: 10px;
    }

}