.admin_background{
    height: 97vh;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

#edit_services{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#edit_users{
    grid-column: 1 / 2;
    grid-row: 2;
}

#edit_something{
    grid-column: 2;
    grid-row: 1 / 2;
}

@media (max-width: 500px){
    .admin_background{
        height: 83vh;
        margin-top: 120px;
    }

}