.background_categories{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 97vh;
}

.categories_gallery{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.category_item{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 24%;
    height: 500px;
    text-align: center;
    border-radius: 10px;
}

.category_item_img{
    height: 70%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.category_item_img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.category_item_content{
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
}

.category_item_title{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.category_item_title span{
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.category_item_description{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 16px;
}

.category_item_description span{
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

@media(max-width: 500px){
    .category_item{
        width: 100%;
    }

    .category_item_title{
        font-size: 25px;
    }

    .category_item_description{
        font-size: 12px;
    }
}