.background_categories{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 97vh;
}

.categories_gallery{
    padding: 10px;
    box-sizing: border-box;
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.category_item{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    width: 24%;
    height: 400px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.category_item:hover .category_item_content{
    border-right: 5px solid #ff7e22;
    border-bottom: 5px solid #ff7e22;
    transition: 1s;
}

.category_img{
    height: 70%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.category_img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.category_item_content{
    background-color: #ebebeb;
    border-right: 5px solid #ff7e226e;
    border-bottom: 5px solid #ff7e226e;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
}

.category_item_title{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    transition: 1s;
}

.category_item:hover .category_item_title{
    color: #ff7f22;
    transition: 1s;
}

.category_item_title span{
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.category_item_description{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 16px;
}

.category_item_description span{
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

@media(max-width: 500px){
    .category_item{
        width: 100%;
    }

    .category_item_title{
        font-size: 25px;
    }

    .category_item_description{
        font-size: 12px;
    }
}