.categories_background{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
}

.categories_container{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0 10px 0;
}

.categories_gallery{
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.categories_item{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    border-radius: 3px;
    min-height: 250px;
    text-decoration: none;
    position: relative;
    display: grid;
}

.categories_item:hover .categories_item_content{
    transition: 1s;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.categories_item_img{
    transition: 1s;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    position: absolute;
    filter: opacity(.7);
}

.categories_item_content{
    transition: 2s;
    width: 50%;
    height: 10%;
    margin-bottom: 10px;
    margin-left: 10px;
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    overflow: hidden;
    color: white;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.categories_item:hover .categories_item_content{
    transition: 1s;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    font-size: 26px;
    margin: 0;
}

/*  */