.client_service_background{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.client_service_container{
    width: 70%;
    height: 70%;
    border-radius: 10px;
    display: flex;
}

.client_service_form_container{
    background-color: #161825;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client_service_form_container span{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: rgba(235, 235, 235, 1);
}

.client_service_form{
    font-family: 'Poppins', sans-serif;
    width: 400px;
    height: 70%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client_service_form span{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: rgba(235, 235, 235, 1);
}

.client_service_form textarea{
    width: 95%;
    font-family: 'Poppins', sans-serif;
    resize: none;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    color: #252730;
    outline: none;
    padding: 10px;
}

.client_service_form textarea::placeholder{
    color: rgba(37, 39, 48, 0.5);
}

.client_service_form textarea:hover{
    border: none;
    border-color: transparent;
}

.client_service_form_inputs{
    font-size: 20px;
    width: 80%;
}

#client_service_submit{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: 0;
    color: #252730;
}

#client_service_submit:hover{
    color: #ebebeb;
    background-color: #ff7f22;
}

.client_service_img_container{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#client_service_img{
    width: 500px;
    height: 500px;
    background-color: #ff7f22;
    border-radius: 100%;
    padding: 90px;
    margin-left: -130px;
}

#client_service_img img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    filter: invert(1);
}

@media(max-width:500px){

    .client_service_background{
        height: auto;
        margin-top: 69px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .client_service_container{
        width: 80%;
        flex-direction: column;
    }
    
    .client_service_form_container{
        width: 100%;
    }

    .client_service_form{
        width: 100%;
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .client_service_form span{
        font-size: 30px;
    }

    .client_service_form_inputs{
    }

    .client_service_form textarea{
        width: 80%;
    }

    #client_service_submit{
        width: 85%;
    }

    .client_service_img_container{
        display: none;
    }
}