.contact_background{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.contact_container{
    width: 70%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_form_container{
    background-color: #161825;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_form_container span{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: rgba(235, 235, 235, 1);
}

.contact_form{
    font-family: 'Poppins', sans-serif;
    width: 400px;
    height: 70%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_form span{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: rgba(235, 235, 235, 1);
}

.contact_form textarea{
    width: 95%;
    font-family: 'Poppins', sans-serif;
    resize: none;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    color: #252730;
    outline: none;
    padding: 10px;
}

.contact_form textarea::placeholder{
    color: rgba(37, 39, 48, 0.5);
}

.contact_form textarea:hover{
    border: none;
    border-color: transparent;
}

.contact_form_inputs{
    font-size: 20px;
    width: 80%;
}

#contact_submit{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: 0;
    color: #252730;
}

#contact_submit:hover{
    color: #ebebeb;
    background-color: #ff7f22;
}

#left_contact_img_container{
    margin-left: 0;
    margin-right: -140px;
}

.contact_img_container{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-left: -140px;
    z-index: 1;
}

#contact_img{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 100px;
    height: 100px;
    background-color: #ff7f22;
    border-radius: 100%;
    padding: 60px;
}

#contact_img img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    filter: invert(1);
}

.contact_links_container{
    display: none;
}

@media(max-width:500px){

    .contact_background{
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .contact_container{
        margin-top: 50px;
        width: 80%;
        flex-direction: column;
        gap: 20px;
    }
    
    .contact_form_container{
        width: 100%;
    }

    .contact_form{
        width: 100%;
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .contact_form span{
        font-size: 30px;
    }

    .contact_form textarea{
        width: 80%;
    }

    #contact_submit{
        width: 85%;
    }

    .contact_img_container{
        display: none;
    }

    .contact_links_container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: #ff7f22;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #contact_link_img{
        width: 50px;
        height: 50px;
    }

    #contact_link_img img{
        object-fit: contain;
        width: 100%;
        height: 100%;
        filter: invert(1);
    }

}