.edit_enterprises_background{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.edit_enterprises_enterprises{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_enterprises_instructions{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    text-align: center;
    width: 100%;
}

.edit_enterprises_enterprises_container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit_enterprises_enterprises_left{
    width: 25%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ff7f22;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.edit_enterprises_enterprises_text{
    font-family: 'Poppins', sans-serif;
    color: #ebebeb;
    text-align: left;
    font-size: 60px;
}

.edit_enterprises_enterprises_right{
    width: 73%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161825;
}

.edit_enterprises_enterprises_gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.edit_enterprises_enterprises_item{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_enterprises_enterprises_item img{
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.edit_enterprises_enterprises_item div{
    font-family: 'Poppins', sans-serif;
    width: 100px;
    height: 100px;
    font-size: 25px;
    background-color: #ebebeb;
    border-radius: 90px;
    color: #161825;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.edit_enterprises_selection{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #161825;
    color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#edit_enterprises_submit{
    transition: 1s;
    width: 25%;
    height: 30px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: #ebebeb;
    background-color: rgba(255, 126, 34, 0.7);
    font-size: 18px;
}

#edit_enterprises_submit:hover{
    transition: .5s;
    width: 30%;
    background-color: rgba(255, 126, 34, 1);
    color: #ebebeb;
}

#edit_enterprises_new_file{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

@media(max-width: 500px){
    .edit_enterprises_background{
        margin-top: 69px;
        padding-top: 20px;
    }

    .edit_enterprises_enterprises{
        height: auto;
    }

    .edit_enterprises_enterprises_container{
        flex-direction: column;
    }

    .edit_enterprises_enterprises_left{
        width: 100%;
        height: 30%;
        padding: 0;
        border-radius: 0;
    }

    .edit_enterprises_enterprises_text{
        margin: 20px;
        font-size: 30px;
    }

    .edit_enterprises_enterprises_right{
        width: 100%;
        border-radius: 0;
    }

    .edit_enterprises_enterprises_item{
        width: 100px;
        height: 100px;
    }

    .edit_enterprises_enterprises_item div{
        width: 60px;
        height: 60px;
        font-size: 12px;
    }

    .edit_enterprises_selection{
        font-size: 20px;
        text-align: center;
    }

    #edit_enterprises_new_file{
        flex-direction: column;
        gap: 5px;
    }

    #edit_enterprises_submit{
        width: 80%;
    }

    #edit_enterprises_submit:hover{
        width: 90%;
    }
}