.edit_services_background{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

.edit_services_container{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0 20px 0; 
}

.edit_services_search_box{
    width: calc(100% - 40px);
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
}

.edit_services_search_input{
    width: 100%;
    grid-column: 1/5;
}

.edit_services_all_items{
    grid-column: 5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_services_all_items img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.edit_services_results{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.edit_services_results_text{
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.edit_services_item{
    width: calc(100% - 60px);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
    letter-spacing: 1px;
    text-align: left;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}