bn{
    color: #ff7e22;
    font-weight: 600;
}

.edit_service_service_background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120vh;
    margin-top: 150px;
    gap: 50px;
}

.edit_service_service_display{
    width: 90%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    gap: 50px;
}

.edit_service_service_display_left{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_service_service_gallery{
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33% 33% 33%;
    grid-gap: 10px
}

.edit_service_service_img{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: #3f3d3d;
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_service_service_img span{
    font-family: 'Poppins', sans-serif;
    width: 60px;
    height: 60px;
    font-size: 50px;
    background-color: #ebebeb;
    border-radius: 90px;
    color: #161825;
    position: absolute;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.edit_service_service_img img{
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#edit_service_main_service_img{
    grid-column: 1 / 5;
    grid-row: 1 / 3;
}

#edit_service_first_service_img{
    grid-column: 1 / 2;
    grid-row: 3;
}

#edit_service_second_service_img{
    grid-column: 2 / 3;
    grid-row: 3;
}

#edit_service_third_service_img{
    grid-column: 3 / 4;
    grid-row: 3;
}

#edit_service_fourth_service_img{
    grid-column: 4;
    grid-row: 3;
}

.edit_service_service_display_mid{
    width: 30%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.edit_service_service_info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3f3d3d;
    font-size: 25px;
    margin: 20px;
    text-align: left;
    letter-spacing: 1px;
    gap: 25px;
}

.edit_service_service_info span{
    color: #3f3d3d;
    font-size: 25px;
    margin: 0;
    text-align: left;
    width: 100%;
}

.edit_service_service_info input{
    width: 90%;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 8px;
}

.edit_service_service_display_right{
    font-family: 'Poppins', sans-serif;
    width: 40%;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.edit_service_new_info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3f3d3d;
    font-size: 25px;
    margin: 20px;
    text-align: left;
    letter-spacing: 1px;
    gap: 25px;
}

.edit_service_new_info span{
    width: 100%;
    color: #3f3d3d;
    font-size: 25px;
    margin: 20px;
    text-align: left;
    display: inline-block;
    letter-spacing: 1px;
}

#edit_service_new_info_title{
    font-size: 40px;
}

.edit_service_new_info input{
    transition: 1s;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: #ebebeb;
    background-color: rgba(255, 126, 34, 0.7);
    font-size: 18px;
}

.edit_service_new_info input:hover{
    transition: .5s;
    width: 90%;
    background-color: rgba(255, 126, 34, 1);
    color: #ebebeb;
}

.edit_service_selection{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_service_selection_space{
    width: 100%;
    height: 90%;
    background-color: #161825;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #ebebeb;
}

.edit_service_selection_space span{
    width: 100%;
    text-align: center;
    font-size: 50px;
}

#edit_service_new_file{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

@media(max-width: 500px){

    .edit_service_service_background{
        margin-top: 80px;
    }

    .edit_service_service_display{
        flex-direction: column-reverse;
        gap: 60px;
    }
    
    .edit_service_service_display_left{
        width: 100%;
    }

    .edit_service_service_display_right{
        width: 100%;
    }

    .edit_service_service_gallery{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .edit_service_service_info h2{
        padding-right: 15px;
    }

    .edit_service_service_info_cotizar{
        width: 100%;
    }

}