.edit_services_services_background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 150px;
}

.edit_services_services_gallery{
    padding: 10px;
    box-sizing: border-box;
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.edit_services_services_item{
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 24%;
    height: 300px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.edit_services_services_img{
    height: 60%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.edit_services_services_img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.edit_services_services_item_content{
    background-color: #ebebeb;
    border-right: 5px solid #ff7e226e;
    border-bottom: 5px solid #ff7e226e;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    transition: 1s;
}

.edit_services_services_title{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    transition: 1s;
}

.edit_services_services_title h1{
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.edit_services_services_id{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 20px;
}

.edit_services_services_id span{
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}