.edit_category_background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 120px;
    gap: 50px;
    flex-direction: column;
    height: 120vh;
    padding-bottom: 60px;
}

.edit_category_display{
    width: 90%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    gap: 20px;
}

.edit_category_display_left{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_category_display_mid{
    width: 30%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.edit_category_info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3f3d3d;
    font-size: 25px;
    margin: 20px;
    text-align: left;
    letter-spacing: 1px;
    gap: 25px;
}

.edit_category_info span{
    color: #3f3d3d;
    font-size: 25px;
    margin: 0;
    text-align: left;
    width: 100%;
}

.edit_category_info input{
    width: 90%;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 8px;
}

.edit_category_display_right{
    font-family: 'Poppins', sans-serif;
    width: 40%;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.edit_category_new_info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3f3d3d;
    font-size: 25px;
    margin: 20px;
    text-align: left;
    letter-spacing: 1px;
    gap: 25px;
}

.edit_category_new_info span{
    width: 100%;
    color: #3f3d3d;
    font-size: 25px;
    margin: 20px;
    text-align: left;
    display: inline-block;
    letter-spacing: 1px;
}


#edit_category_new_info_title{
    font-size: 40px;
}

.edit_category_new_info input{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: #ff7f22;
}

.edit_category_new_info input:hover{
    color: #ebebeb;
    background-color: #ff7f22;
}

.edit_category_gallery{
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33% 33% 33%;
    grid-gap: 10px
}

.edit_category_img{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.edit_category_img img{
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.edit_category_gallery{
    padding: 10px;
    box-sizing: border-box;
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.edit_category_item{
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 24%;
    height: 300px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.edit_category_img{
    height: 60%;
    background-color: #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.edit_category__img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#edit_category__img{
    background-color: #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

#edit_category__img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.edit_category__item_content{
    background-color: #ebebeb;
    border-right: 5px solid #ff7e226e;
    border-bottom: 5px solid #ff7e226e;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    transition: 1s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.edit_category__title{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    transition: 1s;
}

.edit_category__title h1{
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.edit_category__id{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 20px;
}

.edit_category__id span{
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}


.edit_category_selection{
    width: 90%;
    height: 50%;
    border-radius: 10px;
    background-color: #161825;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_category_selection_space{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #ebebeb;
    gap: 20px;
}

.edit_category_selection_space span{
    width: 100%;
    text-align: center;
    font-size: 50px;
}

#edit_category_new_file{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

#edit_category_submit{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
    border: 0;
    color: #252730;
}

#edit_category_submit:hover{
    color: #ebebeb;
    background-color: #ff7f22;
}

@media(max-width:500px){

    .edit_category_background{
        margin-top: 69px;
        padding-top: 20px;
        height: auto;
        gap: 30px;
    }

    .edit_category_display{
        flex-direction: column;
        gap: 30px;
        height: auto;
    }

    .edit_category_display_left{
        width: 100%;
    }

    .edit_category_display_mid{
        width: 100%;
    }

    .edit_category_display_right{
        width: 100%;
    }

    .edit_category_new_info input{
        width: 80%;
    }

    .edit_category_new_info input:hover{
        width: 80%;
    }

    .edit_category_selection_space{
        gap: 20px;
        margin: 20px;
    }

    .edit_category_selection_space span{
        font-size: 30px;
    }

    #edit_category_new_file{
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }

    #edit_category_submit{
        width: 80%;
    }

    #edit_category_submit:hover{
        width: 90%;
    }
}