header{
    width: 100%;
    position: absolute;
}

.header{
    width: 100%;
    height: 150px;
}

.header_top{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 10;
    height: 20%;
    background-color: #161825;
    display: flex;
    align-items: center;
}

.header_top_info{
    width: 100%;
}

.header_top_info_row{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

#phone{
    margin-left: 0;
    margin-right: auto;
}

#social{
    margin-left: auto;
    margin-right: auto;
}

#contact{
    margin-left: auto;
    margin-right: 0;
}

.header_bottom{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(235, 235, 235, 0.7);
    width: 90%;
    height: 70px;
    padding-bottom: -100px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .5s;
}

.header_bottom:hover{
    transition: .5s;
    background-color: rgb(255, 255, 255);
}

.logo_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#logoimg_header{
    width: 55px;
    height: 50px;
    transition: .5s;
    opacity: .8;
}

#logoimg_header:hover{
    opacity: 1;
    transition: .5s;
}

#logo{
    font-size: 2.5em;
    text-decoration: none;
    color: #161825;
    transition: .5s;
}

#logo:hover{
    transition: .5s;
    color: rgb(255, 127, 34);
}

.header_bottom_row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.header_bottom_row_buttons{
    display: flex;
    align-items: center;
}

.nav_header{
    max-width: 900px;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
}

.horizontal_menu_header{
    list-style: none;
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.horizontal_menu_header > li{
    text-decoration: none;
    color: #161825;
    margin: 2px;
    transition: .5s;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.horizontal_menu_header > li > a{
    display: block;
    padding: 15px 20px;
    color: #162520;
    text-decoration: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.horizontal_menu_header > li > a:hover{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-decoration: none;
    color: #ebebeb;
    transition: .5s;
    background-color: rgba(255, 127, 34, 0.8);

}

.vertical_menu_header{
    position: absolute;
    display: none;
    background-color: rgba(255, 127, 34, .8);
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.horizontal_menu_header li:hover .vertical_menu_header{
    display: block;
}

.horizontal_menu_header ul,li{ 
    list-style-type: none;
    list-style-position: inside;
    margin:0;
    padding:0; 
}

.vertical_menu_header li{
    list-style: none;
}

.vertical_menu_header li:hover{
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.3);
}

.vertical_menu_header li a{
    display: block;
    text-decoration: none;
    color: #ebebeb;
    padding: 15px 15px 15px 20px;
}

.header_responsive{
    display: none;
}

@media screen and (max-width: 768px){
    .header_default{
        display: none;
    }

    .header_responsive{
        display: flex;
        width: 100%;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
    }

    .header_responsive_background{
        height: 90px;
        background-color: #ff7f22;
    }

    .logo_header{
        margin-top: -90px;
        margin-left: 10px;
        height: 90px;
        font-size: 10px;
        gap: 10px;
        display: flex;
        align-self: flex-start;
        align-items: center;
    }

    #logoimg_header{
        width: 68px;
        height: 60px;
    }

    #logoimg_header:hover{
        width: 75px;
        height: 70px;
    }

    #logo{
        font-size: 60px;
        color: #3f3d3d;
    }

    .bars_menu{
        align-self: flex-end;
        margin-top: -90px;
        width: 50%;
        display: flex;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bars_icon_container_background{
        background-color: #3f3d3d;
        align-self: flex-end;
    }

    .bars_icon_container{
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        align-self: flex-end;
    }

    #bars_icon{
        width: 50px;
        height: 50px;
        filter: invert(1);
    }

    .bars_menu_div{
        width: 100%;
        background-color: #525252;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        justify-content: space-evenly;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom-left-radius: 10px;
    }

    .bars_menu_div a{
        text-decoration: none;
    }

    .bars_menu_item{
        background-color: #ff7f22;
        padding: 10px;
        width: 80%;
        border-radius: 10px;
        color: #3f3d3d;
    }

}