html{
    scroll-behavior: smooth;
    scroll-padding: 80px;
}

.home{
    text-align: center;
}

body{
    background-color: #ebebeb;
}

.home_background{
    padding-bottom: 60px;
}

.background_img{
    background: url(../img/construction_img3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.background_img_container{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    gap: 100px;
}

.background_img_separator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: rgba(235, 235, 235, 0.9);
    font-size: 80px;
    gap: 30px;
}

#background_img_title{
    align-self: right;
    border-bottom: 8px solid #ff7f22;
    font-size: 200px;
}

#background_img_eslogan{
    font-size: 30px;
    text-align: center;
}

#background_img_services{
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    background-color: #ff7f22;
    color: #ebebeb;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: services_button 1s infinite;
}

#background_img_services_img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}

#background_img_services_img img{
    filter: invert(1);
    object-fit: contain;
    transform: rotate(90deg);
    width: 100%;
    height: 100%;
}

.our_projects_presentation{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our_projects_presentation_text{
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    color: #161825;
    text-decoration: none;
    transition: .5s;
}

.our_projects_presentation_text:hover{
    transition: .5s;
    font-size: 85px;
    color: #ff7f22;
}

.our_projects{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    background-color: #161825;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.our_projects_container{
    width: 100%;
    height: 550px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.our_projects_container_button{
    background-color: rgb(224, 224, 224);
    text-decoration: none;
    width: 30%;
    height: 550px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    opacity: .9;
    transition: 3s;
}

.our_projects_container_button:hover{
    transition: 3s;
    width: 70%;
    opacity: 1;
}

.our_projects_container_button:hover .our_projects_container_button_bottom_text{
    font-size: 50px;
}

.our_projects_container_button_top{
    height: 400px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: auto;
}

.our_projects_container_button_top img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.our_projects_container_button_bottom{
    background: url(../img/pattern_1.jpg);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.our_projects_container_button_bottom_text{
    background-color: rgba(255, 127, 34, 1);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #ebebeb;
    height: 150px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.our_projects_button{
    width: 30%;
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #ff7f22;
    color: #ebebeb;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: services_button 1s infinite;
}

.our_projects_button_img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}

.our_projects_button_img img{
    filter: invert(1);
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.enterprises{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enterprises_container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enterprises_left{
    width: 25%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ff7f22;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.enterprises_text{
    font-family: 'Poppins', sans-serif;
    color: #ebebeb;
    text-align: left;
    font-size: 60px;
}

.enterprises_right{
    width: 73%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161825;
}

.enterprises_gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.enterprises_item{
    width: 200px;
    height: 200px;
}

.enterprises_item img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.our_features{
    width: 100%;
    height: 700px;
    background-color: #161825;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.our_features_title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our_features_title span{
    text-align: center;
    font-size: 100px;
    color: #ebebeb;
    border-bottom: 8px solid #ebebeb;
    padding-bottom: 20px;
}

.our_features_container{
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.our_features_item{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.our_features_item_img{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our_features_item_img_bg{
    width: 200px;
    height: 200px;
    background-color: #ebebeb;
    border-radius: 200px;
    padding: 40px;
}

.our_features_img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.our_features_item_text{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    text-align: center;
    color: #ebebeb;
}

.home_no_items_alert{
    font-family: 'Poppins', sans-serif;
    color: #ebebeb;
    font-size: 50px;
    text-align: center;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media(max-width: 500px){

    .background_img{
        margin-top: 60px;
        height: 90vh;
        padding: 20px;
        background-color: #161825;
        gap: 20%;
        align-items: center;
    }

    .background_img_container{
        align-self: center;
        margin: 0;
        margin-bottom: 60px;
    }

    #background_img_title{
        align-self: right;
        font-size: 120px;
    }
    
    #background_img_eslogan{
        font-size: 20px;
    }

    #background_img_services{
        opacity: .8;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
        background-color: #ff7f22;
        color: #ebebeb;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        border-radius: 10px;
        font-size: 20px;
        padding: 15px;
        opacity: 1;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        animation: services_button 1s infinite;
    }

    #background_img_services_img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
    }

    #background_img_services_img img{
        filter: invert(1);
        object-fit: contain;
        transform: rotate(90deg);
        width: 100%;
        height: 100%;
    }

    #construcciones{
        width: 50px;
        height: 50px;
    }

    .our_projects{
        width: 100%;
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .our_projects_presentation{
        margin: 0;
        width: 100%;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .our_projects_presentation_text{
        font-size: 60px;
    }

    .our_projects_presentation_text:hover{
        font-size: 65px;
    }

    .our_projects_container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: start;
        padding-left: 0;
        padding-right: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
    }

    .our_projects_container_button{
        transition: .5s;
        height: 200px;
        width: 80%;
        margin: 0;
    }

    .our_projects_container_button:hover{
        transition: .5s;
        height: 210px;
        width: 85%;
        margin: 0;
    }

    .our_projects_container_button:hover .our_projects_container_button_bottom_text{
        font-size: 20px;
        transition: .5s;
    }

    .our_projects_container_button_top{
        height: 80%;
        width: 100%;
    }

    .our_projects_container_button_bottom{
        height: 20%;
    }

    .our_projects_container_button_bottom_text{
        height: 100%;
        font-size: 20px;
    }

    .our_projects_container_button_bottom_text:hover{
        font-size: 15px;
    }

    .our_projects_button{
        width: 50%;
        opacity: .8;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: #ff7f22;
        color: #ebebeb;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        border-radius: 10px;
        font-size: 20px;
        padding: 15px;
        opacity: 1;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        animation: services_button 1s infinite;
    }
    
    .our_projects_button_img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
    }

    .our_projects_button_img img{
        filter: invert(1);
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    .enterprises{
        height: auto;
    }

    .enterprises_container{
        flex-direction: column;
    }

    .enterprises_left{
        width: 100%;
        padding: 0;
        border-radius: 0;
    }

    .enterprises_text{
        text-align: center;
        font-size: 40px;
        padding: 20px 60px 20px 60px;
        line-height: 1.3;
    }

    .enterprises_right{
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 0;
    }

    .enterprises_gallery{
        gap: 10px;
        justify-content: center;
    }

    .enterprises_item{
        width: 100px;
        height: 100px;
    }

    .our_features{
        height: auto;
        padding-top: 80px;
        padding-bottom: 80px;
        gap: 40px;
    }

    .our_features_title span{
        text-align: center;
        font-size: 50px;
        border-bottom: 8px solid #ebebeb;
        padding-bottom: 20px;
    }

    .our_features_container{
        flex-direction: column;
        gap: 60px;
        width: 100%;
    }

    .our_features_item{
        width: 70%;
        height: 30%;
        gap: 30px;
    }

    .our_features_item_img{
        width: 70%;
        height: auto;
    }

    .our_features_item_img_bg{
        width: 200px;
        height: auto;
    }

    .our_features_item_text{
        height: 80%;
        font-size: 35px;
    }

    .home_no_items_alert{
        font-size: 20px;
    }

}

@keyframes services_button {
    0%{
        transform: scale(.9);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(.9);
    }
}
