.loading_screen{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading_screen_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading_screen_container span{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: #161825;
}

@media(max-width:500px){

    .loading_screen{
    }

    .loading_screen_container{
        width: 90%;
        height: 80%;
        margin-bottom: 150px;
    }

    .loading_screen_container img{
        width: 80%;
        height: auto;
    }

}