.login_background{
    height: 97.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_container_center{
    width: 65%;
    height: 70%;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
}

.login_img_div{
    height: 100%;
    width: 50%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.login_img_div_responsive{
    display: none;
}

#login_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.login_right{
    font-family: 'Poppins', sans-serif;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_right .login_form{
    width: 60%;
    margin-left: -15px;
}

.login_right .login_form h2{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff7f22;
    display: inline-block;
    letter-spacing: 1px;
}

.login_right .login_form .login_input{
    margin-bottom: 20px;
}

.login_right .login_form .login_input span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
    letter-spacing: 1px;
}

.login_right .login_form .login_input input{
    width: 89%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    border-radius: 30px;
}

#sign_in_button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.login_right .login_form #sign_in_button a{
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 16px;
    letter-spacing: 1px;
    color: #ebebeb;
    background: transparent;
    border-radius: 30px;
    background-color: rgba(255, 127, 34, 0.6);
    transition: .5s;
}

.login_right .login_form #sign_in_button a:hover{
    background-color: rgba(255, 127, 34, .9);
    transition: .5s;
}

.login_right .login_form .login_input a{
    text-decoration: none;
    color: rgba(255, 127, 34, 0.6);
}

.login_right .login_form .login_input a:hover{
    color: rgba(255, 127, 34, 0.9);
}

@media (max-width: 768px){

    .login_background{
        margin-top: 69px;
        height: 90vh;
        background-color: #161825;
    }

    .login_container{
        background: url(../img/construction_img2.jpg);
        background-position: center;
        background-repeat: no-repeat;
    }

    .login_container_center{
        width: 80%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ebebeb;
    }

    .login_img_div{
        display: none;
    }

    .login_right{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 30px;
    }

    .login_right .login_form{
        width: 100%;
        padding: 0;
        border-radius: 8px;
    }

    .login_right .login_form input{
        width: 50%;
    }

    .login_right .login_form h3{
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }    

    .login_form{
        padding: 0;
    }
}