.profile_background{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 100vh;
}

.profile_container{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0 20px 0; 
}

.profile_display{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.profile_display span{
    width: 100%;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.8);
    /* text-overflow: ellipsis; */
    overflow: scroll;
}

.profile_display span a{
    text-decoration: none;
    color: inherit;
}

.profile_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#profile_title{
    width: 80%;
    text-align: center;
    font-size: 30px;
    border-bottom: 3px solid #ff7f22;
    /* overflow: hidden; */
}

#profile_link{
    color: #0077b6;
}

.profile_img{
    width: 120px;
    height: 120px;
}

.profile_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.profile_buttons{
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile_button{
    height: 100%;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.profile_button_img{
    width: 70px;
    height: 40px;
}

.profile_button_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.profile_button_text{
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_button_text span{
    width: 100%;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ff7f22;
    overflow: hidden;
}

.profile_no_items{
    font-size: 40px;
    text-align: center;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 150px;
}