.register_background{
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register_container_center{
    width: 65%;
    height: 70%;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
}

.register_img_div{
    height: 100%;
    width: 50%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#register_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.register_right{
    font-family: 'Poppins', sans-serif;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_right .register_form{
    width: 60%;
    margin-left: -15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register_right .register_form h2{
    align-self: center;
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff7f22;
    display: inline-block;
    letter-spacing: 1px;
}

.register_right .register_form .register_input{
    margin-bottom: 20px;
}

.register_right .register_form .register_input span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
    letter-spacing: 1px;
}

.register_right .register_form .register_input input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    border-radius: 30px;
}

.register_right .register_form .register_input select{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    border-radius: 30px;
}

#register_button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.register_right .register_form #register_button a{
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ebebeb;
    background: transparent;
    border-radius: 30px;
    background-color: rgba(255, 127, 34, 0.9);
    transition: .5s;
}

.register_right .register_form #register_button a:hover{
    background-color: rgba(255, 127, 34, 1);
    transition: .5s;
}

.register_right .register_form .register_input a{
    text-decoration: none;
    color: rgba(255, 127, 34, 0.9);
}

.register_right .register_form .register_input a:hover{
    color: rgba(255, 127, 34, 1);
}

.register_alert{
    text-align: center;
    color: rgba(255, 127, 34, 1);
}

@media (max-width: 768px){
    .register_background{
        margin-top: 65px;
        height: 80vh;
    }
    
    .register_container_center{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .register_img_div{
        display: none;
    }

    .register_right{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .register_right .register_form{
        width: 100%;
        height: 90%;
        padding: 40px;
        border-radius: 8px;
        background-color: #ebebeb;
    }

    .register_right .register_form .register_input input{
        width: 80%;
    }

    .register_right .register_form h3{
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }    
}