.services_background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 120px;
    padding-bottom: 60px;
}

.services_gallery{
    padding: 10px;
    box-sizing: border-box;
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.services_item{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    width: 24%;
    height: 400px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.services_item:hover .services_item_content{ 
    border-right: 5px solid #ff7e22;
    border-bottom: 5px solid #ff7e22;
    transition: 1s;
}

.services_img{
    height: 70%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.services_img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.services_item_content{
    background-color: #ebebeb;
    border-right: 5px solid #ff7e226e;
    border-bottom: 5px solid #ff7e226e;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 30%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: start;
    transition: 1s;
}

.services_title{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    transition: 1s;
}

.services_item:hover .services_title{
    color: #ff7f22;
    transition: 1s;
}

.services_title h1{
    width: 100%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.services_description{
    width: 100%;
    display: none;
    align-items: center;
    justify-content: left;
    font-size: 16px;
}

.services_description span{
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

@media(max-width: 500px){

    .services_background{
        margin-top: 90px;
    }

    .services_gallery{
        height: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content:flex-start;
    }

    .services_item{
        width: 100%;
    }

    .services_item_content{
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .services_title{
        font-size: 12px;
    }

    .services_title h1{
        text-align: center;
    }

    .services_description{
        font-size: 10px;
    }
}