.service_background{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
}

.service_container{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

.service_body{
    width: calc(100% - 40px);
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service_title{
    width: 100%;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 30px;
}

.service_carousel{
    width: 100%;
    height: 300px;
}

.service_carousel_slide{
    width: 100%;
    height: 100%;
}

.service_carousel_slide_img{
    width: 100%;
    height: calc(100% - 40px);
    object-fit: cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.service_description{
    width: 100%;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
}

.service_button{
    transition: .5s;
    width: 140px;
    letter-spacing: 1px;
    color: white;
    background-color: #ff7f22;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.service_button:hover{
    transition: .5s;
    filter: opacity(.8);
}